@page "{pageNo=1}"
@model ASP_LABS.Areas.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Items[0].Title)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.Book.Items[0].Description)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.Book.Items[0].Price)
            </th>
            <th>
				@Html.DisplayNameFor(model => model.Book.Items[0].ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model.Book.Items)
		{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@item.ImagePath" width="200" height="200"/>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>




<!-- Paginator -->
<nav aria-label="...">
	<ul class="pagination">
		@if (Model.Book.CurrentPage > 1)
		{
			<li class="page-item">
				<a class="page-link" asp-area="Admin" asp-page="/Index" asp-route-pageNo="@(Model.Book.CurrentPage - 1)">Назад</a>
			</li>
		}
		else
		{
			<li class="page-item disabled">
				<span class="page-link">Назад</span>
			</li>
		}
		@if (Model.Book.CurrentPage > 1)
		{
			<li class="page-item">
				<a class="page-link" asp-area="Admin" asp-page="/Index" asp-route-pageNo="@(Model.Book.CurrentPage - 1)">@(Model.Book.CurrentPage - 1)</a>
			</li>
		}

		<li class="page-item active" aria-current="page">
			<span class="page-link">@Model.Book.CurrentPage</span>
		</li>

		@if (Model.Book.CurrentPage < Model.Book.TotalPages)
		{
			<li class="page-item">
				<a class="page-link" asp-area="Admin" asp-page="/Index" asp-route-pageNo="@(Model.Book.CurrentPage + 1)">@(Model.Book.CurrentPage + 1)</a>
			</li>
		}
		@if (Model.Book.CurrentPage < Model.Book.TotalPages)
		{
			<li class="page-item">
				<a class="page-link" asp-area="Admin" asp-page="/Index" asp-route-pageNo="@(Model.Book.CurrentPage + 1)">Вперед</a>
			</li>
		}
		else
		{
			<li class="page-item disabled">
				<span class="page-link">Вперед</span>
			</li>
		}



	</ul>
</nav>
